@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300;600;700&display=swap');

.square {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
}
.widescreen {
    aspect-ratio: 16 / 6;
    width: 100%;
    object-fit: cover;
}

.font-24 {
    font-size: 24px;
}
.font-32 {
    font-size: 32px;
}
.font-64 {
    font-size: 64px;
}

.funnel-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.funnel-display-medium {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.funnel-display-bold {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}