<div class="card" style="width: 18rem;">
  <img src="https://placehold.co/400" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{person.first_name}} {{person.last_name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email: {{person.email}}</li>
    <li class="list-group-item">
        Address:
        {{person.address}}<br>
        {{person.city}}, {{person.state}} {{person.zip}}
        </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Edit</a>
    <a href="#" class="card-link">Delete</a>
  </div>
</div>